.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.recipeCard {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.recipeDetails {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: var(--radius);
  margin-bottom: 1.5rem;
}